# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

file/uninstall.bat
*.xml
*.png
*.pvr
*.o
*.d
*.txt
*.class
*.prop
*.apk
*.fsh
*.pod
*.vsh
*.dex
*.properties
*.so
*.ap_
*.bat
*.java
*.mk
BuildDeveloper/Android/libs/armeabi/OGLES2PVRScopeExample
*.a
BuildDeveloper/Android/obj/local/armeabi/OGLES2PVRScopeExample
*.rar
file/OGLES2PVRScopeExample.cpp
OGLES2PVRScopeExample_old_version.cpp
OGLES2PVRScopeExample_work.cpp
OGLES2PVRScopeExample_work.h
PVRScopeGraphAPI.cpp